// customize some Bootstrap variables
$primary: #F18701;
$secondary: #7678ED;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
body {
    background-color: lightgray;
}
